@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background: #eab308;
  overflow: hidden;
}
.text-wrapper2 {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-stroke-color: white;
  white-space: nowrap;
  padding: 0 6rem;
  letter-spacing: 1px;
  animation: move-rt1 6000ms linear infinite;
}

@keyframes move-rt1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.parallax {
  position: relative;
  height: 900px;
  overflow: hidden;
  background: url("/food.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8); /* Adjust the opacity as needed */
}
